@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 38%, 92%);
}

p {
  font-size: 14px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
}

.card-body {
  padding: 24px;
}

.category {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
  margin-bottom: 20px;
  font-size: 11.2px;
  color: hsl(228, 12%, 48%);
}

.card-title {
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 1;
  margin-bottom: 25px;
}

.card-desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  margin-bottom: 34px;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.sale-price {
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  font-size: 34px;
  margin-right: 21.88px;
}

.original-price {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

.btn-checkout {
  display: block;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: 500;
  color: white;
  text-align: center;
  background-color: hsl(158, 36%, 37%);
  padding: 14px 0;
  width: 100%;
  border-radius: 10px;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) {
  .image-desktop {
    display: none;
  }
  .image-mobile {
    display: inline-block;
    width: 100%;
  }
  body {
    padding: 15px;
  }
  main {
    height: 100vh;
  }
  .card-img img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 480px) {
  .card {
    display: flex;
    width: 600px;
    padding: 0;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .card-body {
    width: 100%;
    padding: 34px 30px;
  }

  .image-desktop {
    display: inline;
    width: 100%;
  }

  .card-img img {
    border-radius: 10px 0px 0px 10px;
    height: 100%;
  }

  .image-mobile {
    display: none;
  }
}
